{% extends 'base.html'%}
{% load crispy_forms_tags %}

{% block content %}

<h1>Update Todo</h1>
<form action="" method="POST">
    {% csrf_token %}
    {{ form.title|as_crispy_field }}
    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="form-control btn btn-primary btn-block"><i class="fa fa-database"></i>
                Submit</button>
        </div>
        <div class="col-md-6">
            <a href="{% url 'todoApp:home' %}" class="form-control btn btn-secondary btn-block"><i
                    class="fa fa-arrow-left"></i>
                Back To home</a>
        </div>
    </div>
</form>

{% endblock %}